<footer>
    <div class="content-wide footer-container">
        <div class="footer-left">
            <section class="about">
                <h2>About</h2>
                <p>The Technology and Social Justice Field Scan is a participatory action research project intended to better understand the types of work currently being done with technology for social justice and the public interest, as well as the pathways people take into the work. The goal is to identify people, groups, and networks who are already working in this space, including those who are not ‘the usual suspects’ in the civic technology world, and to learn from them: what their paths into the work have been; what they see as their greatest constraints; where they hit brick ceilings (resistance to change); and what’s most needed to grow and diversify the field.</p>
            </section>
            <section class="social">
                <a href="https://twitter.com/tech4socialjust"><i class="fa fa-twitter fa-3x"></i><span>Follow the project on Twitter!</span></a>
            </section>
        </div>
        <div class="footer-right">
            <section class="core-team">
                <h2>Core Research Team</h2>
                <ul>
                    <li><a href="http://rad.cat/" alt="Research Action Design"><img src="{{ "assets/logos/rad-logo.png" | relative_url }}" alt="Research Action Design" title="Research Action Design"></a></li>
                    <li><a href="https://www.newamerica.org/oti/" alt="Open Technology Institute of the New America Foundation"><img src="{{ "assets/logos/oti-logo.png" | relative_url }}" alt="Open Technology Institute" title="Open Technology Institute"></a></li>
                </ul>
            </section>
            <div class="clear"></div>
            <section class="partners">
                <h2>Project Partners</h2>
                <ul>
                    <li><a href="https://alliedmedia.org/" alt="Allied Media Projects"><img src="{{ "assets/logos/amp-logo.jpg" | relative_url }}" alt="Allied Media Projects" title="Allied Media Projects"></a></li>

                    <li><a href="https://coworker.org/" alt="Coworker.org"><img src="{{ "assets/logos/coworker.jpg" | relative_url }}" alt="Coworker.org" title="Coworker.org"></a></li>

                    <li><a href="https://www.theengineroom.org/" alt="The Engine Room"><img src="{{ "assets/logos/engine-room-logo-2.png" | relative_url }}" alt="The Engine Room" title="The Engine Room"></a></li>
                    
                    <li><a href="http://www.hackthehood.org/" alt="Hack the Hood"><img src="{{ "assets/logos/hack-the-hood-logo.png" | relative_url }}" alt="Hack the Hood" title="Hack the Hood"></a></li>
                    
                    <li><a href="https://mayfirst.org/en/index.html" alt="May First/People Link"><img src="{{ "assets/logos/mayfirst-logo.png" | relative_url }}" alt="May First/People Link" title="May First/People Link"></a></li>

                    <li><a href="https://mediamobilizing.org/" alt="Media Mobilizing Project"><img src="{{ "assets/logos/media-mobilizing-project.jpeg" | relative_url }}" alt="Media Mobilizing Project" title="Media Mobilizing Project"></a></li>

                    <li><a href="https://palantetech.coop/" alt="Palante Tech Cooperative"><img src="{{ "assets/logos/palante-logo.png" | relative_url }}" alt="Palante Tech Cooperative" title="Palante Tech Cooperative"></a></li>
                    
                    <li><a href="https://www.teamupturn.com/" alt="Upturn"><img src="{{ "assets/logos/upturn-logo-2.svg" | relative_url }}" alt="Upturn" title="Upturn"></a></li>

                    <li><a href="https://vulpine.blue/" alt="Vulpine Blue"><img src="{{ "assets/logos/vulpine-blue-small.png" | relative_url }}" alt="Vulpine Blue" title="Vulpine Blue"></a></li>
                    
                </ul>
            </section>
        </div>
    </div>
</footer>