<header>
    <div class="header-bar content"> <!-- add class content back in, and remove class fixed -->
        <div class="header-bar-top">
            <a href="{{ "index.html" | relative_url }}"><h1 class="title">The Technology and Social Justice Field Scan</h1></a>
            <!--<h1 class="logo"><a href="#"><i class="fa fa-chevron-left fa-1x"></i><i class="fa fa-balance-scale fa-1x"></i><i class="fa fa-chevron-right fa-1x"></i></h1>
            -->                
        </div>
        <div class="header-bar-bottom">
            <nav class="main-nav">
                <ul>
                    <li><a href="{{ "about.html" | relative_url }}">About</a></li>
                    <li><a href="{{ "orglist.html" | relative_url }}">Search Projects & Organizations</a></li>
                    <li><a href="{{ "blog.html" | relative_url }}">Blog</a></li>

                </ul>
            </nav>
            <!-- <a href="https://docs.google.com/spreadsheets/d/1jwM-cYI1Ep9ZjNxGDjJXjqNkYA-f1ViyAH-Bv1tLvV4/edit?usp=sharing" class="submit-button">Help us keep this list up to date</a> -->
        </div>
    </div>
</header>