<header class="main">
    <div class="home-header">
	    <video>
	        <source poster="{{ "assets/background-header-blue.png" | relative_url }}" type="video/mp4">
	        Your browser does not support the video tag.
	    </video>
	    <div class="header-bar-home">
		    <h1 class="logo"><a href="{{ "index.html" | relative_url }}"><i class="fa fa-chevron-left fa-1x"></i><i class="fa fa-balance-scale fa-1x"></i><i class="fa fa-chevron-right fa-1x"></i> Tech for Social Justice</a></h1>
	        <nav class="main-nav">
	            <ul>
	                <li><a href="{{ "about.html" | relative_url }}">About</a></li>
	                <li><a href="{{ "quotes.html" | relative_url }}">Explore Quotes</a></li>
	                <li><a href="{{ "orglist.html" | relative_url }}">Search Projects & Organizations</a></li>
	                <li><a href="{{ "blog.html" | relative_url }}">Blog</a></li>
	                <li><a href="http://jobs.t4sj.co">Job Board</a></li>
	            </ul>
	        </nav>
	    </div>

	    <h1 class="title">{{ site.title }}</h1>
	 
	    <header class="main_h">

	        <div class="row">
	            <h1 class="logo"><a href="{{ "index.html" | relative_url }}"><i class="fa fa-chevron-left fa-1x"></i><i class="fa fa-balance-scale fa-1x"></i><i class="fa fa-chevron-right fa-1x"></i> Tech for Social Justice</a></h1>

	            <div class="mobile-toggle">
	                <span></span>
	                <span></span>
	                <span></span>
	            </div>

	            <nav class="main-nav">
	                <ul>
	                    <li><a href="{{ "about.html" | relative_url }}">About</a></li>
	                    <li><a href="{{ "orglist.html" | relative_url }}">Search Projects & Organizations</a></li>
	                    <li><a href="{{ "blog.html" | relative_url }}">Blog</a></li>
	                    <li><a href="http://jobs.t4sj.co">Job Board</a></li>
	                </ul>
	            </nav>

	        </div> <!-- / row -->

	    </header>
	</div>
</header>