<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>The Technology and Social Justice Field Scan</title>
    <meta property="og:url" content="https://opentechinstitute.github.io/tech-for-social-justice">
    <meta property="og:site_name" content="The Technology and Social Justice Field Scan">
    <meta property="og:type" content="website">
    <meta property="og:title" content="The Technology and Social Justice Field Scan">
    <meta property="og:description" content="The Technology and Social Justice Field Scan is a participatory action research project intended to better understand the types of work currently being done with technology for social justice and the public interest, as well as the pathways people take into the work.">
    <meta property="og:image" content="">
    <meta name="twitter:card" content="">
    <meta name="twitter:title" content="tech4socialjust">
    <meta name="twitter:description" content="">
    <meta name="twitter:image" content="">
	<!--     <link rel="stylesheet" type="text/css" href="../css/main.css">-->
    <script src="https://use.typekit.net/nfn6daq.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>
	<link rel="stylesheet" href="{{ "stylesheets/main.css" | relative_url }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="{{ "assets/fixed-header.js" | relative_url }}"></script>
</head>