.people
  margin: 2em auto 0em auto
  padding-bottom: 3em
.person
  display: inline-block
  width: 31.2%
  background-color: #fbf5e4 //rgba(0,0,0,0.0625) //#fdf8e8
  text-align: center
  padding: 1.5em 1.2em
  margin: 0.7%
  position: relative
  vertical-align: top
  height: $resultHeight

.person-photo
  height: 120px
  background-size: cover
