.people
  margin: 2em auto 0em auto
  padding-bottom: 3em

.person
  display: flex
  width: 100%
  background-color: #fbf5e4 //rgba(0,0,0,0.0625) //#fdf8e8
  margin-bottom: 1em
  position: relative
  vertical-align: top
  overflow: hidden

.person-photo
  height: 300px
  background-size: cover
  background-position: center center
  flex: 1

.person-info
  padding: 1em 1em 1em 1.5em
  flex: 2
  h2
    font-size: 1em

.name
  display: inline

.twitter
  display: inline
  position: absolute
  top: 1em
  right: 1em

@media screen and (max-width: 990px)
  .person
    width: 48%

@media screen and (max-width: 690px)
  .person
    width: 100%
