---
layout: default
---

<section class="content about-intro">
    <article>
        <div class="about-body">
            <h1>Background</h1>
            <p>NetGain is a philanthropic partnership committed to “influencing policy, markets, norms, and the design and use of the Internet and information technologies to make the world a better place.” In 2016, among other activities, NetGain seeks to develop a field scan that can provide a community-based perspective about how to grow the field of public interest technology. The goal is to identify people, groups, and networks who are already working in this space, including those who are not ‘the usual suspects’ in the civic technology world, and to learn from them: what their paths into the work have been; what they see as their greatest constraints; where they hit brick ceilings (resistance to change); and what’s most needed to grow and diversify the field.</p>

            <p>With such a breadth of sites and networks for public interest technology, and with increasing commitments from funders and institutions to support this work, it’s imperative to map the field to better understand the various approaches, ideal outcomes, and needs of practitioners. What work is being done under the moniker of public interest technology, and what other frames do people use to talk about similar work? Where is this work situated? Who is doing this work? What are the key opportunities and barriers to diversifying and sustaining the field? How do we create a more expansive ecosystem, and escape the danger of an echo chamber limited to a relatively small cast of characters?</p>

            <p>A community based field scan using participatory research methods, led by RAD and OTI, will help NetGain make informed choices about how to best support growth and inclusion in the emerging field of public interest technology.</p>
        </div>
    </article>
    <aside>
        <p><b>The Public Interest Technology Project</b> is a participatory action research project led by Research Action Design and the Open Technology Institute</p>
        <p><b>Interested in collaborating on the research process?</b><br />Please let us know <a href="#">here</a>.</p>
    </aside>
</section>
<section class="content about-letter">
    <h1>Project Lead</h1>

    <p><b>Research Action Design (RAD)</b> uses community-led research, transformative media organizing, technology development, and collaborative design to build the power of grassroots social movements. RAD is a worker-owned collective. Our projects are grounded in the needs and leadership of communities in the struggle for justice and liberation. <a href="http://rad.cat">http://rad.cat</a></p>

    <h1>Project Co-Lead/Anchor Partner</h1>

    <p><b>The Open Technology Institute (OTI) at New America</b> is committed to freedom and social justice in the digital age. To achieve these goals, it intervenes in traditional policy debates, builds technology, and deploys tools with communities.<a href="https://www.newamerica.org/oti">https://www.newamerica.org/oti</a></p>
	
	<h1>Core Research Team</h1>
	<ul class="people">
    {% for person in site.people %}
    	{% if person.role == 'core' %}
	    	<li class="person">
	    		<div class="person-photo" style="background-image:url({{ person.photo | relative_url }});"></div>
	    		<div class="person-info">
	    			<h1 class="name">{{ person.title }}</h1>
	    			<h2>{{ person.organization }}</h2>
	    			<a class="twitter" href="https://twitter.com/{{ person.twitter }}"><i class="fa fa-twitter fa-2x"></i></a>
	      			<p class="short-bio">{{ person.content }}</p>
	    		</div>
	    	</li>
	    {% endif %}
  	{% endfor %}
  	</ul>
	
	<h1>Partners</h1>
	<ul class="people">
    {% for person in site.people %}
    	{% if person.role == 'partner' %}
	    	<li class="person">
	    		<div class="person-photo" style="background-image:url({{ person.photo | relative_url }});"></div>
	    		<div class="person-info">
	    			<h1 class="name">{{ person.title }}</h1>
	    			<a class="twitter" href="https://twitter.com/{{ person.twitter }}"><i class="fa fa-twitter fa-2x"></i></a>
					<h2 class="person-org">{{ person.organization }}</h2>
	      			<p class="short-bio">{{ person.content }}</p>
	    		</div>
	    	</li>
	    {% endif %}
  	{% endfor %}
  	</ul>

</section>