<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body>

      {% include header.html %}

    <main class="home page-content" aria-label="Content">
      <div class="wrapper">
        <section class="content home-about">
          {{ content }}
        </section>

      </div>
    </main>

    <footer>
        <div class="content-wide footer-container">
            <section class="social">
                <a href="https://twitter.com/tech4socialjust"><i class="fa fa-twitter fa-3x"></i><span>Follow the Technology for Social Justice Field Scan on Twitter</span></a>
            </section>
        </div>
    </footer>

  </body>

<script src="{{ "assets/timeline.js" | relative_url }}"></script>

</html>
