<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body>

      {% include header-home.html %}

    <main class="home page-content" aria-label="Content">
      <div class="wrapper">
        <section class="content home-about">
          {{ content }}
        </section>

        <section id="timeline">
          <div class="section-wrapper">
            <div class="line">
              <div data-mobiletext="June 2016" data-index="1" data-timelinelabel="Phase 1: Preliminary Research" class="phase q4 y2016 dot complete"></div>
              <div data-mobiletext="July 2016" data-index="2" class="month y2017 dot complete"></div>
              <div data-mobiletext="August 2016" data-index="3" class="month y2017 dot complete"></div>
              <div data-mobiletext="September 2016" data-index="4" class="month y2017 dot complete"></div>
              <div data-mobiletext="October 2016" data-index="5" class="month y2017 dot complete"></div>
              <div data-mobiletext="November 2016" data-index="6" class="month y2017 dot complete"></div>
              <div data-mobiletext="December 2016" data-index="7" class="month y2018 dot complete"></div>
              <div data-mobiletext="January 2017" data-index="8" data-timelinelabel="Phase 2: Participatory Research" class="phase q1 y2018 dot complete"></div>     
              <div data-mobiletext="February 2017" data-index="9" class="month y2018 dot complete"></div>
              <div data-mobiletext="March 2017" data-index="10" class="month y2018 dot complete"></div>
              <div data-mobiletext="April 2017" data-index="11" class="month q4 y2018 dot complete"></div>
              <div data-mobiletext="May 2017" data-index="12" class="month y2019 dot complete"></div>
              <div data-mobiletext="June 2017" data-index="13" class="month q1 dot complete"></div>
              <div data-mobiletext="June 2017" data-index="13" class="month q1 y2019 dot js-mobile-default"></div>      
              <div data-mobiletext="July 2017" data-index="14" class="month q2 y2019 dot"></div>
              <div data-mobiletext="August 2017" data-index="15" data-timelinelabel="Analysis and Dissemination" class="phase q3 y2019 dot"></div>
              <div data-mobiletext="September 2017" data-index="16" class="month q4 y2019 dot"></div>
            </div>
          </div>
          <section id="description" class="content">
            <div class="section-wrapper">
              <div data-index="1">
                <p>June 2016: Project started by Research Action Design and the Open Technology with backing from the Netgain funding collaborative.</p>
              </div>
              <div data-index="2" class="text-default">
                <p>July 2016: Secondary research, including the development of an annotated bibliography, and compiled lists of Public Interest Technology Projects.</p>
              </div>
              <div data-index="3">
                <p>August 2016: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis assumenda ipsa maiores sunt fugiat deserunt pariatur est incidunt, enim quis.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus facere necessitatibus illum debitis minus amet recusandae optio fugit tempora veritatis.</p>
              </div>
              <div data-index="4">
                <p>September 2016: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et, nihil. Ea nesciunt sed, quidem sapiente dolorem voluptatum, adipisci recusandae ducimus amet sequi atque ipsa officiis pariatur consectetur velit alias. Officiis, at illo aperiam ex accusamus, vel ab obcaecati doloribus numquam fugiat unde, error. Atque iusto nulla porro, ducimus ex vel.</p>
              </div>
              <div data-index="5">
                <p>October 2016: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero laudantium repudiandae quos magni iste cum, a quisquam eligendi quasi, at animi autem necessitatibus, cumque rem optio maiores. Placeat inventore repellat voluptate reprehenderit adipisci aperiam tempore?</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio, aut illum repellat, itaque ducimus eius.</p>
              </div>
              <div data-index="6">
                <p>November 2016: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod, vel atque molestiae dolorum soluta magni, dolores a maxime iure illo.</p>
              </div>
              <div data-index="7">
                <p>December 2016: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt dicta non quam quae consectetur laborum eveniet, similique placeat illo velit enim eligendi facilis deleniti laboriosam iure natus totam! Nostrum ipsa debitis iste eum laborum odio, aliquam dolor fuga hic unde.</p>
              </div>
              <div data-index="8">
                <p>January 2017: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet, eveniet?</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto officia, quam iste tempore eos, vel quis nulla, aliquid pariatur deleniti libero nesciunt dicta minus reiciendis.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex dolor, atque repellat nulla doloribus nostrum.</p>
              </div>
              <div data-index="9">
                <p>February 2017: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates similique expedita cumque alias facilis commodi vitae recusandae, quisquam officia officiis autem distinctio quis consequuntur velit deleniti iusto illo accusantium earum, delectus blanditiis minima. Enim fugit totam, esse cumque consequatur dignissimos.</p>
              </div>
              <div data-index="10">
                <p>March 2017: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad, laboriosam!</p>
              </div>
              <div data-index="11">
                <p>April 2017: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed odio iste harum quia facilis, omnis autem non, corporis ullam perspiciatis earum voluptas facere accusantium itaque asperiores, illo debitis ducimus. Facere nobis ipsam beatae voluptatum nisi possimus aliquam eum excepturi, quisquam odit, alias dolores enim, soluta nulla. Ratione quam architecto dolore.</p>
              </div>
              <div data-index="12">
                <p>May 2017: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est consequuntur unde laborum officiis minus, impedit voluptates. Fugiat perspiciatis nesciunt itaque!</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt doloribus eaque id in cumque aliquam voluptatem, officia unde assumenda corrupti!</p>
              </div>
              <div data-index="13">
                <p>June 2017: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae officia quas aut autem a quibusdam quam voluptas, optio iure recusandae eum, similique voluptate excepturi nobis suscipit, laboriosam laborum veniam mollitia!</p>
              </div>
              <div data-index="14">
                <p>July 2017: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus quod adipisci dolores, consectetur aperiam aliquam.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum ipsum vitae, consequuntur quidem, quasi quaerat.</p>
              </div>
              <div data-index="15">
                <p>August 2017: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem, perferendis facilis neque vero nostrum asperiores aperiam tenetur debitis sunt labore magnam ipsum nesciunt quo inventore explicabo hic at. Sed minus optio est illum, placeat, corporis necessitatibus fuga aperiam et officia, nobis nihil quas! Quasi temporibus corrupti consectetur, id natus nobis commodi quis. Inventore voluptate porro, excepturi dicta quasi consequuntur beatae.</p>
              </div>
              <div data-index="16">
                <p>September 2017: Report published and disseminated! Project wraps up.</p>
              </div>
            </div>
          </section>
        </section>
        
        <!-- <section class="content home-orgs">
          <h2>Project Partners</h2>
            <ul>
                <li><a href="https://aspirationtech.org/" alt="Aspiration Tech"><img src="{{ "assets/logos/aspiration-logo.gif" | relative_url }}" alt="Aspiration Tech" title="Aspiration Tech"></a></li>
                
                <li><a href="https://www.theengineroom.org/" alt="The Engine Room"><img src="{{ "assets/logos/engine-room-logo-2.png" | relative_url }}" alt="The Engine Room" title="The Engine Room"></a></li>
                
                <li><a href="https://palantetech.coop/" alt="Palante Tech Cooperative"><img src="{{ "assets/logos/palante-logo.png" | relative_url }}" alt="Palante Tech Cooperative" title="Palante Tech Cooperative"></a></li>
                
                <li><a href="http://www.hackthehood.org/" alt="Hack the Hood"><img src="{{ "assets/logos/hack-the-hood-logo.png" | relative_url }}" alt="Hack the Hood" title="Hack the Hood"></a></li>
                
                <li><a href="https://www.teamupturn.com/" alt="Upturn"><img src="{{ "assets/logos/upturn-logo-2.svg" | relative_url }}" alt="Upturn" title="Upturn"></a></li>
                
                <li><a href="https://alliedmedia.org/" alt="Allied Media Projects"><img src="{{ "assets/logos/amp-logo.jpg" | relative_url }}" alt="Allied Media Projects" title="Allied Media Projects"></a></li>
                
                <li><a href="https://mayfirst.org/en/index.html" alt="May First/People Link"><img src="{{ "assets/logos/mayfirst-logo.png" | relative_url }}" alt="May First/People Link" title="May First/People Link"></a></li>
            </ul>
        </section>
        <section class="content home-people">
        </section> -->
      </div>
    </main>

    <footer>
        <div class="content-wide footer-container">
            <section class="social">
                <a href="https://twitter.com/tech4socialjust"><i class="fa fa-twitter fa-3x"></i><span>Follow the Technology for Social Justice Field Scan on Twitter</span></a>
            </section>
        </div>
    </footer>

  </body>

<script src="{{ "assets/timeline.js" | relative_url }}"></script>

</html>
